
<%= simple_form_for @flat do |f| %>
<%= f.input :name, placeholder: "Name of your flat", label: false %>
<%= f.input :address, placeholder: "Type the address", label: false %>
<%= f.input :description, placeholder: "Describe your flat", label: false %>
<%= f.input :price, placeholder: "Price per night (£)", label: false %>
<%= f.input :max_guests, :collection => 1..15, label: false, :prompt => "Maximum of guests" %>

<p class="photo-title">Upload flat's photo</p>

<label class="btn btn-primary button-flat">
  Add picture
  <span style="display:none;">
    <%= f.input :photo, required: true, name: 'image' %>
  </span>
</label>


<%= f.input :photo_cache, as: :hidden %>
<%= f.button :submit%>
<% end %>


