
<%= simple_form_for @flat do |f| %>
<<<<<<< HEAD
<%= f.input :name, placeholder: "Name of your flat", label: false %>
<%= f.input :address, placeholder: "Type the address", label: false %>
<%= f.input :description, placeholder: "Tell us more about the flat", label: false %>
<%= f.input :price, placeholder: "Price per night (£)", label: false %>
<%= f.input :max_guests, :collection => 1..15, label: false, :prompt => "Maximum of guests" %>

<p>Upload photo of the flat</p>

<label class="btn btn-primary">
  Add a file!
  <span style="display:none;">
    <%= f.input :photo, required: true, name: 'image' %>
  </span>
</label>

=======
<%= f.input :name, placeholder: "Insert the name of your flat here", label: false %>
<%= f.input :address, placeholder: "Insert the address of your flat here", label: false %>
<%= f.input :description, placeholder: "Insert the description of your flat here", label: false %>
<%= f.input :price, placeholder: "Insert the price of your flat here", label: false, input_html: { min: 0 } %>
<%= f.input :max_guests, :collection => 1..15, label: false, :prompt => "Select how many guests" %>
<p>Upload a photo from your flat below</p>
<%= f.input :photo, label: false %>
>>>>>>> d56a4554d44f167d3ec59d0b8f5a857a41192791
<%= f.input :photo_cache, as: :hidden %>
<%= f.button :submit %>
<% end %>

