<%= simple_form_for [@flat, @booking] do |f| %>
<h4>£<%= @flat.price  %> per night </h4>
Number of Nights:
<%= f.input :period, placeholder: "Insert the number of nights you want", :collection => 1..30, default: '1', label: false %>
Max Guests: <%= @flat.max_guests %>
<%= f.input :guests, placeholder: "Max Guests: '#{@flat.max_guests}'", :collection => 1..@flat.max_guests, default: '1', label: false %>
<%= f.button :submit %>
<% end %>

