<div class="banner" style="background-image: linear-gradient(-36deg, rgba(255,25,25,0.2) 0%, rgba(0,36,61,0.6) 85%), url('https://robins-place-bali.com/wp-content/uploads/2017/06/bali-travel.jpg');">
  <div class="container">
    <div class="row">

       <h1 class="title-booking">
        All your bookings
        </h1>
    </div>
   <div class="row">
      <div class="banner-content">

        <div class="left-main">
          <% @bookings.each do |booking| %>
          <div class="col-xs-6 col-sm-6 padding-0">
            <% if booking.flat.photo? %>
              <div class="card-booking" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('<%= cl_image_path(booking.flat.photo) %>');">
                <% else %>
                  <div class="card-booking" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('<%= image_path("example.png") %>');">
                 <% end %>
                <div class="linker">
                <a class="card-link" href="<%= booking_path(booking) %>"></a>
                  <div class="card-descr">
                    <h3><%= link_to booking.flat.name %></h3>
                    <p> <%= booking.flat.address %> </p>
                    <p> <%= booking.period %> days </p>
                    <p> Price: £<%= booking.total %> </p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>

      </div>
      <!-- banner content finish -->
  </div>
</div>
