<%= render 'shared/navbar' %>
<div class="container">

    <div class="banner-content">
      <h1>Here are your bookings:</h1>
      <ul>
        <% @bookings.each do |booking| %>
          <li><%= booking.flat.name %></li>
          <li>Your stay is for <%= booking.period %> days</li>
          <li>You pay for <%= booking.total %> it.</li>
          <li>The status of this booking is <%= booking.status %>;</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

